{% extends "catalog/base.html" %}

{% block title %}
<title>
    Employee - {{ object.id }}
</title>
{% endblock %}

{% block content %}
<div class="list-group">
    <a class="list-group-item list-group-item-action active">
        Employee: {{ object.last_name }} {{ object.first_name }} {{ object.second_name }}
    </a>
    <a   class="list-group-item list-group-item-action">Birthday: {{ object.date_of_birth}}</a>
    <a class="list-group-item list-group-item-action">Number: {{ object.phone_number}}</a>
    <a class="list-group-item list-group-item-action">Start worK: {{ object.start_date }}</a>
    <a class="list-group-item list-group-item-action disabled">Stop work: {{ object.stop_date }}</a>
    <a class="list-group-item list-group-item-action disabled">Role: {{ object.role }}</a>
    <a class="list-group-item list-group-item-action disabled">Department: {{ object.departament }}</a>
</div>
{% endblock %}