<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>
        {% block title %}
        This's title
        {% endblock %}
    </title>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- Подключаем jQuery (необходим для Bootstrap JavaScript) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Bootstrap JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
            integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
            crossorigin="anonymous"></script>
</head>

<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ request.route_url('home_page') }}">
                Home page
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">

                {% if request.authenticated_userid is none %}
                <li>
                    <a href="{{ request.route_url('login') }}"> Log In</a>
                </li>
                <li>
                    <a href="{{ request.route_url('sign_up') }}"> Sign Up</a>
                </li>
                {% else %}
                <li>
                    <a href="{{ request.route_url('logout') }}"> Log out</a>
                </li>
                <li>
                    <a href="{{ request.route_url('basket') }}">
                        <span
                                class="glyphicon glyphicon-shopping-cart"> Basket
                        </span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

{% block content %}
This's content
{% endblock content %}

</body>
</html>